/*************************************
 * statement 统计报表
 */
.statement-box .charts1 {
    width: 100%;
    height: 800px;
    position: relative;
}

/* .statement-box .charts2 {
    height: 200px;
} */
.statement-box .datebox {
    width: 100%;
    position: relative;
}

.statement-box .datebox form {
    text-align: center;
}