/* 活动 */
.actobj-create-upload {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    cursor: pointer;
}
.actobj-create-upload-process {
    height: 2px;
    width: 0px;
}
.actobj-create-upload>div {
    width: 100%;
    height: 100%;
    color: #58666e;
}