/*************************************
 * config
 */

.configbox-top h1 {
    height: 70px;
    line-height: 70px;
}

.config-mask-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(58, 63, 81, .8);
    z-index: 1030;
    width: 100%;
    height: 100%;
    padding: 50px;
    overflow: auto;
    display: none;
}

.config-mask-box.active {
    display: block;
}

.config-mask-box .config {
    width: 100%;
    height: 100%;
}

.config-mask-box .config-edit-box-top,
.config-mask-box .config-edit-box-top h1 {
    height: 70px;
    line-height: 70px;
}

.config-mask-box .subnav {
    height: 100%;
}

.config-mask-box .subnav-top {
    width: 100%;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 20px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 18px;
}

.config-mask-box .subnav-item {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    cursor: pointer;
    display: block;
    position: relative;
}

.config-mask-box .subnav-item.active {
    background: #23b7e5;
    color: #fff;
}

.config-mask-box .subnav-item.active>div {
    color: #fff;
}

.config-mask-box .subnav-item:not(.active):hover {
    background: #e4e4e4;
}

.config-mask-box .delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 30px;
}

.config-mask-box .edit-btn {
    position: absolute;
    right: 0;
    top: 30px;
    width: 15px;
    height: 30px;
}

.config-mask-box .subnav-item>div i {
    position: absolute;
    right: 5px;
    top: 7.5px;
    width: 15px;
    height: 50%;
}

.config-edit-box td {
    cursor: pointer;
}

@media (max-width: 767px) {
    .config-mask-box {
        padding: 20px;
    }
    .config-mask-box .config-edit-box {
        height: auto;
    }
}