/*************************************
 * message
 */

.message-view-box .item {
    width: 100%;
    height: 40px;
    line-height: 40px;
}


/*************************************
 * message
 */

.column-nav-box {
    position: absolute;
    left: 0;
}