
/*************************************
 * push
 */

 .push-wrap-box {
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%;
}

.push-wrap-box .push-list {
    width: 60%;
    height: 100%;
    position: relative;
    float: left;
    overflow: auto;
    padding: 15px;
}

.push-wrap-box .push-list .tab-content {
    padding: 0 10px;
}

.push-wrap-box .push-list .nav-tabs-alt {
    border: 1px solid #dee5e7;
}

.push-wrap-box .push-list td {
    transition: all .2s;
    cursor: pointer;
}

.push-wrap-box .push-list tr:hover td {
    background: #f7f7f7;
}

.push-wrap-box .push-preview {
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
}

.push-wrap-box .preview-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.push-wrap-box .preview-box .content-box {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.push-wrap-box .preview-box .content-info {
    text-align: center;
    margin-top: 10px;
}

.push-wrap-box .preview-box .content-box h3 {
    width: 100%;
    text-align: center;
}

.push-wrap-box .preview-box .content-box span {
    margin: 0 10px;
}

.push-cloumn-move {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, .5);
    z-index: 1050;
    padding: 50px 20%;
    display: none;
}

.push-cloumn-move .push-move-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
    border-radius: 10px;
    border: 2px #ddd solid;
}

.push-cloumn-move .push-move-box .title {
    width: 100%;
    height: 60px;
    position: relative;
    padding: 0 15px;
    line-height: 60px;
    font-size: 24px;
    border-bottom: 1px #ddd solid;
}

.push-cloumn-move .push-move-box .title h3 {
    width: 100%;
    text-align: center;
    margin: 0;
    height: 60px;
    line-height: 60px;
}

.push-cloumn-move .push-move-box .content-box {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow: auto;
}