
/*************************************
 * usergroup
 */
 .usergroupbox {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: -60px;
    margin-bottom: 60px;
    overflow: auto;
}
.usergroupitembox {
    position: relative;
    min-height: 200px;
}
.usergroupitembox .item-tr {
    height: 40px;
    line-height: 40px;
}
.usergroupitembox .item-tr .item-td {
    height: 100%;
    float: left;
    text-align: center;
    width: 80px;
}
.usergroupitembox .itembox {
    margin-right: 150px;
}
.usergroupitembox .checkitembox {
    position: absolute;
    width: 150px;
    height: 100%;
    right: 0;
    top: 0;
}
.usergroupitembox .checkitembox .checkbox {
    margin-bottom: 25px;
    text-align: center;
}
