<div class="contentbatchMask">
    <div class="loading-spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<!-- hbox layout -->
<div class="content-wechat-tmp-box b b-light">
    <div class="header b-b" ng-click="thirdParty.max()">
        <i class="fa fa-minus transition" ng-click="thirdParty.min($event)"></i>
        <i class="glyphicon glyphicon-remove transition" ng-click="thirdParty.hide($event)"></i>
        <p class="m-n">
            <b>待推送列表</b>
        </p>
        <small ng-click="thirdParty.partyChose()" class="cursor-p" tooltip="点击切换平台">{{thirdParty.getSdkName()}}(
            <span class="text-info">点击切换平台</span>)
        </small>
    </div>
    <div class="wechatbtn b-b">
        <div class="push b-r text-info" tooltip="直接推送" ng-click="thirdParty.push()">推送</div>
        <div class="save text-info" tooltip="保存至平台媒体库" ng-click="thirdParty.save()">保存</div>
    </div>
    <div class="wechat-itemwrap">
        <div class="wechat-itembox" min-scroll>
        </div>
    </div>
</div>
<div ng-if="shower" class="tipsbox">该功能暂不支持移动端</div>
<div class="hbox hbox-auto-xs bg-light contentBox pos-rlt" ng-class="{'newsopen':newItem}" style="overflow:hidden;"
     ng-init="app.settings.full = true;app.settings.asideFolded = true;">
    <!--微信推送弹窗-->
    <script type="text/ng-template" id="pushToWechatModal.html">
        <div class="modal-header">
            <h3 class="modal-title">推送至第三方平台</h3>
        </div>
        <div class="modal-body">
            <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
                <tab heading="选择平台" active="step1" select="stepChange()">
                    <div class="wechat-router-item {{colors[$index]}}" ng-click="getUser(item)"
                         ng-repeat="item in ptlist">{{item.sdkname}}
                    </div>
                    <p class="m-t text-center" ng-show="!ptlist.length">暂无可推送平台</p>
                    <div class="clear"></div>
                </tab>
                <tab heading="选择账号" disabled="disabled" active="step2">
                    <div class="wechat-router-item {{colors[$index]}}" ng-class="{cur: item.select}"
                         ng-click="push(item)" ng-repeat="item in ulist">{{item.name}}
                    </div>
                    <div class="clear"></div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </script>
    <!--微信推送弹窗END-->
    <!--文件移动弹窗-->
    <script type="text/ng-template" id="columnMoveModal.html">
        <div class="modal-header">
            <h3 class="modal-title">选择栏目</h3>
        </div>
        <div class="modal-body">
            <abn-tree tree-data="data" tree-control="tree" on-select="onSelect(branch)" icon-leaf="fa fa-columns"
                      expand-level="2" icon-expand="fa fa-plus"
                      icon-collapse="fa fa-minus">
            </abn-tree>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-info ladda-button" ng-click="ok($event)">
                <span class="ladda-label">确定</span>
                <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
            </button>
        </div>
    </script>
    <!--文件移动弹窗END-->
    <!--内容搜索弹窗-->
    <script type="text/ng-template" id="contentSearchModal.html">
        <div class="modal-header">
            <h3 class="modal-title">内容搜索</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">搜索字段</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="content" ng-model="checkbox.content"
                                   ng-change="checkChange('content')"><i></i> 内容
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="mainName" ng-model="checkbox.mainName"
                                   ng-change="checkChange('mainName')"><i></i> 标题
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="souce" ng-model="checkbox.souce"
                                   ng-change="checkChange('souce')"><i></i> 来源
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="author" ng-model="checkbox.author"
                                   ng-change="checkChange('author')"><i></i> 作者
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">栏目</label>
                    <div class="col-sm-10">
                        <select class="column-select-modal" style="width: 100%;" data-placeholder="请选择栏目"></select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">关键字</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="在这里填写所选条件的关键字">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-info ladda-button" ng-click="ok($event)">
                <span class="ladda-label">确定</span>
                <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
            </button>
        </div>
    </script>
    <!--内容搜索弹窗END-->
    <!-- <file-chosen control="fileControl"></file-chosen> -->
    <!--<column-chosen></column-chosen>-->

    <!-- column -->
    <div ng-show="!shower" class="content-column-box">
        <div class="wrapper b-b">
            <div class="font-thin h4 content-title">
                栏目列表
                <!-- <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn createBtn" ng-click="allPraviteCheck()">全站隐私检测</button> -->
            </div>
        </div>
        <div class="wrapper-md" style="height: 100%;overflow: auto;padding-bottom:60px;">
            <abn-tree ng-if="column_tree_data.length" tree-data="column_tree_data" text="column_tree_current"
                      tree-control="tree" on-select="treeSelect(branch)"
                      icon-leaf="fa fa-columns" expand-level="1" icon-expand="fa fa-plus" icon-collapse="fa fa-minus">
            </abn-tree>
            <div class="open-btn">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
    <!-- /column -->
    <div class="robotBtn animated" ng-show="newItem">
        <img src="./img/content-ani1.png"/>
        <img src="./img/content-ani2.png" style="display: none;"/>
        <img src="./img/content-ani3.png" style="display: none;"/>
        <img src="./img/content-ani4.png" style="display: none;"/>
        <img src="./img/content-ani5.png" style="display: none;"/>
        <img src="./img/content-ani6.png" style="display: none;"/>
        <div class="messagebox">
            <div class="content p1">
                <p>您好,我是智能编辑小助手,请选择您需要的功能</p>
                <p class="text-center">
                    <a class="text-info">错别字</a>
                    <a class="text-info">隐私信息</a>
                    <a class="text-info">全部检测</a>
                </p>
            </div>
            <div class="content p2">
                <p>智能小助手正在检测中...</p>
            </div>
        </div>
    </div>
    <!-- content -->
    <div ng-show="!shower" class="content-list-wrap">
        <div class="tipsbox" ng-show="!news">请选择栏目</div>
        <div class="tipsbox" ng-show="!newItem && news && !news.length && !pager.parameter.length">该栏目暂无新闻</div>
        <div class="pos-rlt content-console-box b-l">
            <div class="content-close-btn" ng-click="newItem = null">返回列表</div>
            <div class="vbox">
                <div class="row-row">
                    <div class="cell m-h-s">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <form
                                    class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label>新闻类型</label>
                                            </br>
                                            <label class="i-checks topbox">
                                                <input type="checkbox">
                                                <i></i>轮播
                                            </label>
                                            <!--<label class="i-checks topbox-news">
                                                <input type="checkbox"><i></i>置顶
                                            </label>-->
                                            <label class="i-checks topbox-news">
                                                <input type="checkbox">
                                                <i></i>置顶于新闻发布
                                            </label>
                                            <label class="i-checks topbox-suffix">
                                                <input type="checkbox">
                                                <i></i>为文章添加后缀(请于网站设置中设定)
                                            </label>
                                            <button class="btn btn-default btn-sm m-l-md" ui-toggle-class="active"
                                                    ng-click="toggleshow = !toggleshow">
                                                <i class="fa fa-angle-double-down text"></i>
                                                <span class="text">高级功能</span>
                                                <i class="fa fa-angle-double-up text-active"></i>
                                                <span class="text-active">隐藏</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg" ng-show="toggleshow"></div>
                                    <div ng-show="toggleshow">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>新闻副标题</label>
                                                <input type="text" ng-change="updateLocalStorage()" class="form-control"
                                                       ng-model="newItem.subName" placeholder="请输入新闻副标题">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="false">
                                            <div class="col-sm-12">
                                                <label>内容摘要</label>
                                                <textarea type="text" ng-change="updateLocalStorage()" rows="3"
                                                          class="form-control" ng-model="newItem.desp"
                                                          placeholder="请输入新闻内容摘要"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>新闻作者</label>
                                                <input type="text" ng-change="updateLocalStorage()" class="form-control"
                                                       ng-model="newItem.author" placeholder="请输入新闻作者">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>新闻来源</label>
                                                <input type="text" ng-change="updateLocalStorage()" class="form-control"
                                                       ng-model="newItem.souce" placeholder="请输入新闻来源">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>URL</label>
                                                <input type="text" ng-change="updateLocalStorage()" class="form-control"
                                                       ng-model="newItem.contenturl" placeholder="请输入新闻URL">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>添加日期</label>
                                                <datetimepicker value="newItem.time" max-date="getMaxDate()"
                                                                time="false"></datetimepicker>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>附件
                                                    <button class="btn btn-xs btn-info m-l attachmentUpload">点击上传附件
                                                    </button>
                                                </label>
                                                <div class="content-attachment">
                                                    <div class="process"></div>
                                                    <div class="tipsbox" ng-show="!newItem.attrid.length"
                                                         style="margin-left: -50px; margin-top: -25px;">暂无附件
                                                    </div>
                                                    <table ng-show="newItem.attrid.length"
                                                           class="table table-striped m-n">
                                                        <thead>
                                                        <tr>
                                                            <th style="width:70%;">文件名</th>
                                                            <th style="width:15%;">文件大小</th>
                                                            <th style="width:15%;" class="text-center">操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="item in newItem.attrid">
                                                            <td>{{item.fileoldname}}</td>
                                                            <td>{{item.size}}</td>
                                                            <td class="text-center">
                                                                <a class="text-info"
                                                                   ng-click="attachment.download(item)">{{item.filepath
                                                                    ? '下载' : item.state}}</a>
                                                                <span> | </span>
                                                                <a class="text-info" ng-show="item.filepath"
                                                                   ng-click="attachment.remove(item)">移除</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg"></div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label>新闻标题</label>
                                            <input type="text" class="form-control" ng-change="updateLocalStorage()"
                                                   ng-model="newItem.mainName" placeholder="请输入新闻标题">
                                        </div>
                                    </div>
                                </form>
                                <div class="editor"
                                     ng-show="current.contentType != '1' && current.contentType != '2' && current.contentType != '5'">
                                    <textarea id="editor_id" name="content" style="width:100%;height:600px;"></textarea>
                                </div>
                                <div class="contentImageTypeBox m-t" ng-if="current.contentType == '1'">
                                    <label>图片列表</label>
                                    <br>
                                    <div class="item b" ng-repeat="item in imgList">
                                        <img src="{{item}}">
                                        <div class="closebtn cursor-p" ng-click="deleteImgList(item)">
                                            <i class="icon-close"></i>
                                        </div>
                                    </div>
                                    <div class="ubtn item cursor-p b" id="fileUploadPickerImge">
                                        <i class="fa fa-upload text-muted"></i>
                                    </div>
                                </div>
                                <div class="contentVideoTypeBox m-t" ng-if="current.contentType == '2'">
                                    <label>新闻视频</label>
                                    <br>
                                    <button class="btn m-b-sm btn-sm btn-info animated fadeIn text-muted"
                                            style="width: 80px;height: 30px;" id="fileUploadPickerVideo"
                                            ng-click="uploadVideo()" style="">上传
                                    </button>
                                    <span class="process"></span>
                                    <ui-video url="videoList[0]" rotate="deg" type="video/mp4" width="450"
                                              ng-if="validVideoNews && newItem.content" height="350"></ui-video>
                                </div>
                                <div class="contentVideoTypeBox m-t" ng-if="current.contentType == '5'">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label>新闻地址</label>
                                            <input type="text" class="form-control" ng-model="newItem.content"
                                                   placeholder="请输入新闻来源">
                                        </div>
                                    </div>
                                </div>
                                <div class="hide-paf text-right">
                                    <a class="text-info" ng-click="hidepdf()">撤销PDF</a>
                                </div>
                                <div id="pdfbox" style="display: none;text-align: center;overflow: auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-sm b-t h-xxs padder-md pos-rlt">
                    <div class="worduploadprocess"></div>
                    <button type="button" class="btn btn-info pull-right m-l-sm btn-save"
                            ng-click="save(current.isCheck == 1)">发布
                    </button>
                    <button type="button" class="btn btn-info pull-right m-l-sm btn-save" ng-show="saveToGovBtn"
                            ng-click="saveToGov()">同步发布
                    </button>
                    <!-- <button type="button" class="btn btn-info pull-right m-l-sm" ng-click="save(true)">智能识别</button> -->
                    <button type="button" class="btn btn-info pull-right m-l-sm"
                            ng-show="current.contentType != '1' && current.contentType != '2'"
                            ng-click="newMove()">将新闻移动至
                    </button>
                    <button type="button" style="width: 80px;height: 34px;" class="btn btn-info pull-right m-l-sm"
                            ng-show="current.contentType != '1' && current.contentType != '2'"
                            id="wordUploadPicker">选择文档
                    </button>
                    <!-- <button type="button" tooltip="转发至各第三方平台" class="btn btn-info pull-right m-l-sm" ng-click="transmit($event)">转发</button> -->
                    <button type="button" class="btn btn-info pull-right" ng-show="current.contentType == '3'"
                            ng-click="transmit()">查看留言
                    </button>
                    <button type="button" class="btn btn-info pull-right" ng-click="preview.show()">预览</button>
                </div>
            </div>
        </div>
        <div class="content-list-box pos-rlt" ng-show="news">
            <div class="wrapper b-b">
                <div class="font-thin h4 content-title">
                    新闻列表
                    <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn createBtn"
                            ng-show="current" ng-click="create()">新建
                    </button>
                    <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn createBtn"
                            ng-show="current" ng-click="pager.export()">导出当前列表
                    </button>
                    <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn deleteBtn"
                            style="display:none;" ng-click="delete()">删除选中
                    </button>
                    <!-- <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn deleteBtn" style="display:none;" ng-click="pushConfig.show('down')">推送至下级</button>
                    <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn deleteBtn" style="display:none;" ng-click="pushConfig.show('up')">推送至上级</button> -->
                    <!-- <button class="btn m-b-xs btn-sm btn-info pull-right m-r-sm animated fadeIn deleteBtn" style="display:none;" ng-click="pushToWechat()">推送至第三方平台</button> -->
                </div>
            </div>
            <div class="nav-tabs-alt wrapper-sm b-b">
                <select class="column-select" style="width: 100%;" data-placeholder="请选择栏目"></select>
                <!--<div class="text-info text-md corsor-p b">请选择栏目</div>-->
            </div>
            <div class="min-list content-list pos-rlt">
                <div class="cell h-full scrollable hover">
                    <div class="cell-inner m-h-xs" style="bottom:40px;">
                        <div class="wrapper-sm" ng-show="tmpNews.length" style="border-bottom:1px #b1b1b1 dashed;">
                            <p>待发布区
                                <a class="text-info pull-right" ng-click="publishAll()">全部发布</a>
                            </p>
                            <div class="list-group m-n">
                                <a class="list-group-item b-l-3x bg-muted {{colors[$index % 3]}}"
                                   ng-click="newsClick(item)" ng-class="item.selected ? 'actived' : ''"
                                   title="{{item.mainName}}" ng-repeat="item in tmpNews track by $index">
                                    <span class="pull-right text-muted">
                                        <i class="fa fa-times" ng-click="tmpNews.splice($index, 1)"></i>
                                    </span>
                                    <span class="block text-ellipsis ng-binding">{{item.mainName}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="wrapper-sm" ng-show="news && news.length">
                            <div class="list-group news-list m-n">
                                <a class="list-group-item b-l-3x hover-anchor hover {{colors[$index % 3]}}"
                                   ng-click="newsClick(item)" ng-class="item.selected ? 'actived' : ''"
                                   title="{{item.mainName}}" ng-repeat="item in news track by $index">
                                    <span class="pull-right staricon" ng-click="top(item, $index, $event)"
                                          ng-class="{'hover-action' : !item.attribute || item.attribute == '0', 'text-muted' : !item.attribute || item.attribute == '0', 'text-warning-dk': item.attribute == 1, 'text-info': item.attribute == 2}">
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="block text-ellipsis ng-binding">{{item.mainName}}</span>
                                    <small class="text-muted ng-binding">{{getOldTime(item.time)}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-pager-box" ng-show="news && news.length">
                    <div class="prev cursor-p text-info">上一页</div>
                    <div class="current">
                        <span class="c">1</span>/
                        <span class="t">10</span>页
                    </div>
                    <div class="page-input">到第
                        <input type="text" class="m-l-xs m-r-xs" name="pager"/>页
                    </div>
                    <div class="next cursor-p text-info">下一页</div>
                </div>
            </div>
            <div class="table-responsive wrapper-sm normal-list content-list" ng-show="news">
                <div class="searchbox m-b wrapper-sm">
                    <form class="form-inline" ng-submit="search.do()">
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="mainName" ng-model="search.par.mainName"
                                   ng-change="search.checkChange('mainName')">
                            <i></i> 标题
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="content" ng-model="search.par.content"
                                   ng-change="search.checkChange('content')">
                            <i></i> 内容
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="souce" ng-model="search.par.souce"
                                   ng-change="search.checkChange('souce')">
                            <i></i> 来源
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" value="author" ng-model="search.par.author"
                                   ng-change="search.checkChange('author')">
                            <i></i> 作者
                        </label>
                        <input type="text" ng-model="search.keyword" class="form-control m-l m-r searchinput"
                               placeholder="在这里填写所选条件的关键字">
                        <button type="submit" class="btn btn-default">搜索</button>
                        <button type="button" class="btn btn-default" ng-click="search.searchAll()">全站搜索</button>
                        <button type="button" class="btn btn-default" ng-click="search.reset()">重置</button>
                    </form>
                </div>
                <table class="table table-striped b" ng-show="news && news.length">
                    <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" ng-click="deleteCheckAll($event)">
                                <i></i>
                            </label>
                        </th>
                        <th>文章标题</th>
                        <th>作者</th>
                        <th>来源</th>
                        <th>点击量</th>
                        <th>状态</th>
                        <th>发布时间</th>
                        <th style="width:475px;text-align:center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in news track by $index" class="hover">
                        <td>
                            <label class="i-checks m-b-none">
                                <input type="checkbox" ng-model="item.deleteCheck" ng-change="deleteCheck()">
                                <i></i>
                            </label>
                        </td>
                        <td ng-click="newsClick(item)">{{item.mainName}}</td>
                        <td ng-click="newsClick(item)">{{item.author}}</td>
                        <td ng-click="newsClick(item)">{{item.souce}}</td>
                        <td ng-click="newsClick(item)">{{item.clickcount ? item.clickcount : '0'}}</td>
                        <td ng-click="newsClick(item)">{{stateCh[item.state]}}</td>
                        <td ng-click="newsClick(item)">{{getTimeText(item.time)}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-default" ng-show="item.isTop == 0"
                                    ng-click="setTop(item, true)">置顶
                            </button>
                            <button class="btn btn-sm btn-default" ng-show="item.isTop != 0"
                                    ng-click="setTop(item, false)">取消置顶
                            </button>
                            <button class="btn btn-sm btn-default" ng-click="preview.show(item)">预览</button>
                            <button class="btn btn-sm {{item.wechatCheck ? 'btn-success' : 'btn-default'}}"
                                    ng-click="thirdParty.add(item)">推送至第三方
                            </button>
                            <button class="btn btn-sm btn-default" ng-click="pushConfig.show('down', item)">推送至下级
                            </button>
                            <button class="btn btn-sm btn-default" ng-click="pushConfig.show('up', item)">推送至上级</button>
                            <button class="btn btn-sm btn-default" ng-click="delete(item)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="new-table-pager-box wrapper-sm" ng-show="news && news.length">
                    <pagination max-size="5" last-text="末页" next-text="下一页" first-text="首页" previous-text="上一页"
                                total-items="pager.current.totalItem"
                                ng-change="pager.getData()" ng-model="pager.current.page"
                                class="pull-right m-t-none m-b-none pagination-sm m-t-none m-b"
                                boundary-links="true" rotate="true" items-per-page="pager.pagesize"></pagination>
                    <select class="pull-right m-r-sm b" style="width:50px;height: 30px;border-radius: 5px;"
                            ng-model="pager.pagesize" ng-change="pager.pagesizeChange()">
                        <option selected value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="pull-right m-r-xs m-t-xs">每页显示:</span>
                </div>
                <h4 class="text-center" ng-show="news && !news.length && pager.parameter.length">没有搜索到符合条件的新闻</h4>
            </div>
        </div>
    </div>
    <!-- content -->
    <div ng-show="!shower && !newItem && false" class="col">
        <div class="vbox">
            <div class="tipsbox">请选择新闻</div>
        </div>
    </div>
    <div class="w-md lter b-l animated fadeIn pos-rlt content-info-box">
        <div class="listbox-wrap b-b">
            <div class="listbox wrapper">
                <div class="alert ng-isolate-scope alert-danger pos-rlt updateInfo">
                    <div class="process"></div>
                    <i class="fa fa-spin fa-spinner pull-right" style="display:none;"></i>
                    <div>
                        <span class="ng-binding ng-scope">快捷上传窗口已整合,直接将文件或图片拖拽至该窗口即可!!!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="imagebox b-b">
            <div class="font-thin h4 text-center" style="height:30px;line-height:30px;">
                新闻缩略图
            </div>
            <div class="ui-img-wrap m cursor-p m-t-none b" style="width:210px;height:210px;">
                <img ng-if="newItem.image" ui-img="popup" ui-width="210" ui-height="210" scale="false"
                     src="{{newItem.image}}"/>
            </div>
        </div>
        <div class="divider"></div>
        <div class="font-thin h4 text-center" style="height:30px;line-height:30px;">
            新闻图片
        </div>
        <div class="ui-img-wrap cursor-p m" style="width:210px;height:210px;" ng-repeat="item in imgs track by $index">
            <img ui-img ui-height="210" ui-width="210" src="{{item}}"/>
            <div class="contentImgMask hover-color">
                <div class="item" ng-click="setImage(item)">设为缩略图</div>
            </div>
        </div>
    </div>
    <div class="content-errorword-wrap">
        <div class="content-errorword-box">
            <div class="title">
                错别字
                <button type="button" class="btn btn-default pull-right m-l-sm m-t-sm close-btn">关闭</button>
                <button type="button" class="btn btn-info pull-right m-l-sm m-t-sm confirm-btn">确认发布</button>
                <button type="button" class="btn btn-success pull-right m-l-sm m-t-sm hide-private">一键隐藏隐私信息</button>
            </div>
            <div class="content-box">
                <textarea id="editor_error" name="content" style="width:100%;height:100%;"></textarea>
            </div>
            <div class="error-box">
                <div class="loading">
                    <div class="tipsbox">错别字识别中...</div>
                </div>
                <div class="count"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
    <div class="push-config-wrap">
        <div class="push-config-box">
            <div class="title">
                文章推送至{{pushConfig.typename}}
                <button type="button" class="btn btn-default pull-right m-l-sm m-t-sm" ng-click="pushConfig.hide()">关闭
                </button>
                <button type="button" class="btn btn-info pull-right m-l-sm m-t-sm push-column-btn"
                        ng-click="pushConfig.siteOk()">选择栏目
                </button>
                <button type="button" class="btn btn-info pull-right m-l-sm m-t-sm push-next-btn none"
                        ng-click="pushConfig.next()">下一步
                </button>
                <button type="button" class="btn btn-info pull-right m-l-sm m-t-sm push-prev-btn none"
                        disabled="disabled" ng-click="pushConfig.prev()">上一步
                </button>
                <button type="button" class="btn btn-info pull-right m-l-sm m-t-sm push-back-btn none"
                        ng-click="pushConfig.backToSite()">重新选择站点
                </button>
            </div>
            <div class="content-box wrapbox">
                <div class="tipsbox">暂无可推送平台</div>
            </div>
            <div class="process-box">
                <ul class="nav nav-pills nav-justified step step-arrow">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="preview-wrap">
    <div class="preview-box">
        <div class="title">
            新闻预览
            <button type="button" class="btn btn-default pull-right m-l-sm m-t-sm" ng-click="preview.hide()">关闭</button>
        </div>
        <div class="content-box">
            <h3>
                测试测试测试
            </h3>
            <div class="content-info">

            </div>
            <div class="content b-t wrapper-md m-t">
                这是测试99
                <span>这是测试99</span>
                <span>这是测试99</span>
            </div>
        </div>
    </div>
</div>
<ui-sitechose config="siteconfig"></ui-sitechose>
<!-- /hbox layout -->