<div class="hbox hbox-auto-xs console-box" unselectable="on">
    <div>
        <div>
            <div class="bg-light lter b-b wrapper-md ng-scope">
                <h1 class="m-n font-thin h3">控制台</h1>
            </div>
            <div class="table-box wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-sm text-center">
                            <div class="col-sm-4 cursor-p" ui-sref="app.content">
                                <div class="panel padder-v item">
                                    <div class="h1 text-info font-thin h1">{{column}}</div>
                                    <span class="text-muted text-xs">待更新栏目</span>
                                    <div class="top text-right w-full">
                                        <i class="fa fa-caret-down text-warning m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 cursor-p" ui-sref="app.consult({type: 1})">
                                <div href="" class="block panel padder-v bg-info item">
                                    <span class="text-white font-thin h1 block">{{suggest}}</span>
                                    <span class="text-muted text-xs">待处理咨询</span>
                                    <span class="top text-left">
                                    <i class="fa fa-caret-up text-warning m-l-sm"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4 cursor-p" ui-sref="app.report({type: 0})">
                                <div class="panel padder-v item">
                                    <div class="font-thin h1">{{report}}</div>
                                    <span class="text-muted text-xs">待处理举报</span>
                                    <div class="bottom text-left">
                                        <i class="fa fa-caret-up text-warning m-l-sm"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel no-border">
                            <div class="panel-heading wrapper b-b b-light">
                                <h4 class="font-thin m-t-none m-b-none text-muted">待更新栏目</h4>
                            </div>
                            <ul class="list-group list-group-lg m-b-none">
                                <li class="list-group-item" ng-repeat="item in columnData" ui-sref="app.content">
                                    <span class="pull-right inline text-info">[{{item.time}}]</span>
                                    <a href="">{{item.name}}</a>
                                </li>
                                <li class="list-group-item" ng-if="!columnData.length">
                                    <span class="inline text-dark">暂无待更新栏目</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel no-border">
                            <div class="panel-heading wrapper b-b b-light">
                                <h4 class="font-thin m-t-none m-b-none text-muted">错链死链检测</h4>
                            </div>
                            <ul class="list-group list-group-lg m-b-none">
                                <li class="list-group-item" ng-repeat="item in check">
                                    <span class="inline text-dark" ui-sref="app.content">{{item.mainName}}</span>
                                    <a class="pull-right text-info" target="_blank" href="{{item.content}}">查看连接</a>
                                </li>
                                <li class="list-group-item" ng-if="!check.length">
                                    <span class="inline text-dark">暂无错链死链</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel no-border">
                            <div class="panel-heading wrapper b-b b-light">
                                <h4 class="font-thin m-t-none m-b-none text-muted">系统记录</h4>
                            </div>
                            <ul class="list-group list-group-lg m-b-none">
                                <li class="list-group-item">
                                    <a href=""><span class="text-info">[ 2017-08-05 23:10:26 ]</span>&nbsp;&nbsp;&nbsp;<span class="text-success">administrator登录了后台</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href=""><span class="text-info">[ 2017-08-05 23:11:36 ]</span>&nbsp;&nbsp;&nbsp;<span class="text-success">administrator更新了[政策法规]栏目</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href=""><span class="text-info">[ 2017-08-05 23:14:25 ]</span>&nbsp;&nbsp;&nbsp;<span class="text-warning">administrator在[政策法规]栏目下新增了[最新动态]新闻</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href=""><span class="text-info">[ 2017-08-05 23:14:46 ]</span>&nbsp;&nbsp;&nbsp;<span class="text-info">administrator添加了一条广告</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href=""><span class="text-info">[ 2017-08-05 23:16:36 ]</span>&nbsp;&nbsp;&nbsp;<span class="text-muted">administrator退出了后台</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>