<div class="hbox hbox-auto-xs pos-rlt overflow-h" unselectable="on" ng-init="app.settings.full = true;">
    <!--文件移动弹窗-->
    <script type="text/ng-template" id="fileMoveModal.html">
        <div class="modal-header">
            <h3 class="modal-title">选择文件夹</h3>
        </div>
        <div class="modal-body">
            <abn-tree tree-data="data" tree-control="tree" on-select="onSelect(branch)" initial-selection=""
                      icon-leaf="fa fa-folder-open-o"
                      icon-expand="fa fa-plus" icon-collapse="fa fa-minus">
            </abn-tree>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-info ladda-button" ng-click="ok($event)">
                <span class="ladda-label">确定</span>
                <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
            </button>
        </div>
    </script>
    <!--文件移动弹窗END-->
    <!--新建文件夹弹窗-->
    <script type="text/ng-template" id="fileFolderCreate.html">
        <div class="modal-header">
            <h3 class="modal-title">添加文件夹</h3>
        </div>
        <div class="modal-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid">
                <div class="form-group" ng-class="error ? 'has-error' : ''">
                    <label class="col-sm-2 control-label">文件夹名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="name" placeholder="请输入字段名">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-info ladda-button" ng-click="ok($event)">
                <span class="ladda-label">确定</span>
                <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
            </button>
        </div>
    </script>
    <!--新建文件夹弹窗END-->
    <div class="col w w-auto-xs bg-light lter b-r navbox">
        <div class="subnav-top b-b">文件分类</div>
        <a class="subnav-item hover-color" ng-class="item.selected ? 'active' : ''" ng-click="typeClick(item)"
           ng-repeat="item in types">{{item.name}}</a>
    </div>
    <div class="col pos-rlt filebox w-full b-l">
        <div class="wrapper bg-light lt b-b filelisttitle">
            <span class="text-muted">
                <button class="btn m-b-xs btn-sm btn-info m-r-md" id="fileUploadPicker"
                        style="width: 50px;height: 30px;" ng-show="btnEnable.upLoad">上传</button>
                <button class="btn m-b-xs btn-sm btn-default" ng-click="previewFile()"
                        ng-show="btnEnable.preview">预览</button>
                <button class="btn m-b-xs btn-sm btn-default" ng-click="deleteFile()"
                        ng-show="btnEnable.delete">删除</button>
                <button class="btn m-b-xs btn-sm btn-default" ng-click="downloadFile()"
                        ng-show="btnEnable.downLoad">下载</button>
                <button class="btn m-b-xs btn-sm btn-default" ng-click="renameFile()"
                        ng-show="btnEnable.rename">重命名</button>
                <button class="btn m-b-xs btn-sm btn-default" ng-click="moveFile()"
                        ng-show="btnEnable.move">移动到</button>
                <button class="btn m-b-xs btn-sm btn-default" ng-click="createFolder()" ng-show="btnEnable.addFolder">新建文件夹</button>
            </span>
            <ul class="breadcrumb m-b-none no-padder" ng-show="currentType == 0">
                <li ng-repeat="item in pathmap">
                    <span ng-click="breadcrumbClick($index)"
                          ng-class="{'cursor-p': $index != pathmap.length - 1,'text-info': $index != pathmap.length - 1}">{{item[0].fileoldname}}</span>
                </li>
            </ul>
        </div>
        <div class="filelistbox">
            <div class="wrapper-sm h-full pos-rlt overflow-auto" ng-mousedown="darw.start($event)"
                 ng-mousemove="darw.move($event)" ui-scroll-load=".fileitembox" control="scrollControl">
                <div class="select-box"></div>
                <div class="fileitembox">

                </div>
            </div>
            <div class="b text-info cursor-p" ng-show="openBtnVisible"
                 style="position: absolute;right: 0;bottom: 0;width: 90px;height: 30px;line-height: 30px;text-align: center;border-radius: 5px 0 0 0;background: #ececec;font-size: 12px;"
                 ng-click="openUpload()">打开上传窗口
            </div>
        </div>
    </div>
    <div class="dialog dialog-web-uploader dialog-blue h5-uploader animated fadeInRight">
        <div class="dialog-header">
            <div class="header-progress" style="width: 1.24679%;"></div>
            <h3><span class="dialog-header-title"><em class="select-text">上传文件</em></span></h3>
            <div class="dialog-control">
                <span class="dialog-icon dialog-close" ng-click="closeUpload($event)">×</span>
                <span class="dialog-icon dialog-min" ng-click="uploadMin($event)">-</span>
            </div>
        </div>
        <div class="dialog-body">
            <div class="uploader-list-wrapper">
                <div class="uploader-list-header">
                    <div class="file-name">文件名</div>
                    <div class="file-size">大小</div>
                    <div class="file-path">文件夹</div>
                    <div class="file-status">状态</div>
                    <div class="file-operate">速度</div>
                </div>
                <div class="tips has-error" style="display: none;">
                    <div class="resident-caution">
                        <span class="caution-title">警告</span>
                        <span class="caution-text"></span>
                        <em class="arrow-outer"></em>
                        <em class="arrow-inner"></em>
                    </div>
                    <em class="icon icon-caution"></em>
                    <div class="text">有1个文件被暂停或取消</div>
                    <em class="close">×</em>
                </div>
                <div class="uploader-list">
                    <ul class="uploader-container" id="uploaderList">
                        <li class="file-list status-pause" ng-repeat="item in fileList" id="uploaditem{{item.idx}}">
                            <div class="process" style="width: 0px;"></div>
                            <div class="info">
                                <div class="file-name" title="{{item.name}}">
                                    <div class="file-icon fileicon-sys-s-exe"></div>
                                    <span class="name-text">{{item.name}}</span>
                                </div>
                                <div class="file-size">{{item.formatSize}}</div>
                                <div class="file-path"><a>{{folder ? folder.fileoldname : '根目录'}}</a></div>
                                <div class="file-status">
                                    <span class="waiting {{item.stateColor}}" style="display: inline">{{item.uploadState}}</span>
                                </div>
                                <div class="file-operate"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>