<script type="text/ng-template" id="reportTypeModal.html">
    <div class="modal-header">
        <h3 class="modal-title">新建类型</h3>
    </div>
    <div class="modal-body">
        <form class="bs-example form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-sm-2 control-label">类型名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="value.TypeName" placeholder="">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-info ladda-button" ng-click="ok($event)">
            <span class="ladda-label">确定</span>
            <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
        </button>
    </div>
</script>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">举报类型管理</h1>
</div>
<div class="wrapper">
    <select-table multiple="true" editable="true" interface="reportType" title="举报类型列表" control="tableControl"
                  create-modal="reportTypeModal.html"></select-table>
</div>
</div>