<div ui-view="" class="fade-in-right-big smooth ng-scope">
    <div class="container w-xxl w-auto-xs ng-scope">
        <a href="" class="navbar-brand block m-t ng-binding">葡萄云</a>
        <div class="m-b-lg">
            <div class="wrapper text-center">
                登陆后开始使用你专属的葡萄云系统
            </div>
            <form name="form">
                <input placeholder="Name" class="form-control no-border" ng-model="user.username"
                       style="padding: 10px 25px;height: 50px;border-bottom:1px #ddd solid;">
                <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" +
                       style="padding: 10px 25px;height: 50px;margin-bottom: 10px;">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()">登 录</button>
                <!--<div class="text-center m-t m-b"><a ui-sref="access.changepwd">修改密码请戳我!</a></div>-->
                <!--<div class="line line-dashed"></div>-->
                <!--<p class="text-center"><small>还有没有葡萄云账号吗?</small></p>
                <a ui-sref="access.register" class="btn btn-lg btn-default btn-block">创建账号</a>-->
            </form>
        </div>
        <!-- ngInclude: 'tpl/blocks/page_footer.html' -->
        <div class="text-center ng-scope" ng-include="'tpl/blocks/page_footer.html'">
            <p class="ng-scope">
                <small class="text-muted">Web app framework base on Bootstrap and AngularJS<br>© 2014</small>
            </p>
        </div>
    </div>
</div>